<article>
    <img
        class="listing-photo"
        [src]="housingLocations?.photo"
        alt="Exterior photo of {{housingLocations?.name}}"
        crossorigin
    />
    <section class="listing-description">
        <h2 class="listing-heading">{{ housingLocations?.name }}</h2>
        <p class="listing-location">{{ housingLocations?.city }}, {{ housingLocations?.state }}</p>
    </section>
    <section>
        <h2 class="section-heading">About this housing location</h2>
        <ul>
            <li>Units available: {{ housingLocations?.availableUnits }}</li>
            <li>Does this location have wifi: {{ housingLocations?.wifi }}</li>
            <li>Does this location have laundry: {{ housingLocations?.laundry }}</li>
        </ul>
    </section>

    <section>
       <h2>Apply Now to live here</h2> 
       <form [formGroup]="formAngular" (submit)="onSubmit()">
            <label for="first-name">First Name</label>
            <input id="first-name" type="text" formControlName="firstName"/>
            <label for="last-name">Last Name</label>
            <input id="last-name" type="text" formControlName="lastName"/>
            <label for="email">Email</label>
            <input id="email" type="email" formControlName="email"/>
            <button type="submit" class="primary">Apply Now</button>
       </form>
    </section>
</article>